doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='./index.css')
  title os-system-icon


section
  .container
    .row
      .col-sm
        h1 OS System Icon
    - var iconArray = [{'key':'os-icon-beos'}, {'key':'os-icon-centos'}, {'key':'os-icon-debian'}, {'key':'os-icon-fedora'}, {'key':'os-icon-freebsd'}, {'key':'os-icon-mandriva'}, {'key':'os-icon-os2'}, {'key':'os-icon-redhat'}, {'key':'os-icon-suse'}, {'key':'os-icon-symbian'}, {'key':'os-icon-ubuntu'}, {'key':'os-icon-unix'}, {'key':'os-icon-linux'}, {'key':'os-icon-windows'}, {'key':'os-icon-osx'}]
      .row
        each item, index in iconArray
          div.iconBox
            i( class = item.key )
            div.className #{item.key}

section
  .container
    .row
      .col-sm
        h1 Mobile Icon
  .container
    - var iconArray = [{'key':'os-icon-android'}, {'key':'os-icon-ios'}]
      .row
        each item, index in iconArray
          div.iconBox
            i( class = item.key )
            div.className #{item.key}

  div.icon-img-alert
  div.icon-fedora-test
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5
  div
    i.beosTest