// @import '../node_modules/src/os-system-icon';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.title {
  border: none !important;
  padding: 0 !important;
}
.container {
  border: 1px solid;
  margin-top: 50px;
  .row {
    text-align: center;
    .col-sm {
      padding: 30px;
      border: 1px solid;
    }
    // .centos {
    //   @include os-icon('centos');
    // }
    // .debian {
    //   display: inline-block;
    //   width: 35px;
    //   height: 35px;
    //   background-image: url(os-icon('debian'));
    //   background-position: center;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    // }
  }
}
