@import url(/node_modules/bootstrap/dist/css/bootstrap.css);
.os-icon-beos {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/beOS.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-centos {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/centos.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-debian {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/debian.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-fedora {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/fedora.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-freebsd {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/freebsd.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-mandriva {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/mandriva.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-os2 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/os2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-redhat {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/redhat.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-suse {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/suse.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-symbian {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/symbian.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-ubuntu {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/ubuntu.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-unix {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/unix.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-linux {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/linux.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-windows {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/windows.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-android {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/android.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-ios {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/ios.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-osx {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/osx.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-aix {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../node_modules/os-system-icon/src/imgs/aix.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.title {
  border: none !important;
  padding: 0 !important; }

.container {
  border: 1px solid;
  margin-top: 50px; }
  .container .row {
    text-align: center; }
    .container .row .col-sm {
      padding: 30px;
      border: 1px solid; }
