.os-icon-beos {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/beOS.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-centos {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/centos.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-debian {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/debian.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-fedora {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/fedora.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-freebsd {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/freebsd.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-mandriva {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/mandriva.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-os2 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/os2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-redhat {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/redhat.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-suse {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/suse.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-symbian {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/symbian.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-ubuntu {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/ubuntu.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-unix {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/unix.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-linux {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/linux.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-windows {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/windows.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-android {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/android.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-ios {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/ios.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-osx {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/osx.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.os-icon-aix {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./imgs/aix.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.title {
  border: none !important;
  padding: 0 !important; }

.container {
  border: 1px solid;
  margin-top: 50px; }
  .container .row {
    text-align: center; }
    .container .row .col-sm {
      padding: 30px;
      border: 1px solid; }
    .container .row .centos {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-image: url("./imgs/centos.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
    .container .row .debian {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-image: url("./imgs/debian.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
