$icomoon-font-family: "osc" !default;
$icomoon-font-path: "../../src/fonts" !default;

$icon-img-alert: "\e900";
$icon-img-btn-add: "\e901";
$icon-img-btn-delete: "\e902";
$icon-img-canceled: "\e903";
$icon-img-check: "\e904";
$icon-img-common-arrow: "\e905";
$icon-img-complated: "\e906";
$icon-img-delete: "\e907";
$icon-img-drawer: "\e908";
$icon-img-drawerarrow: "\e909";
$icon-img-edit: "\e90a";
$icon-img-error: "\e90b";
$icon-img-inprogress: "\e90c";
$icon-img-listtype-maximum: "\e90d";
$icon-img-listtype-middle: "\e90e";
$icon-img-listtype-minimum: "\e90f";
$icon-img-logo: "\e910";
$icon-img-migration-next: "\e921";
$icon-img-migration-prev: "\e922";
$icon-img-plusminus: "\e923";
$icon-img-refresh: "\e924";
$icon-img-reserved: "\e925";
$icon-img-search: "\e926";
$icon-img-sortarrow: "\e927";
$icon-img-systeminfo: "\e928";
$icon-img-table-next: "\e929";
$icon-img-table-prev: "\e92a";
$icon-img-tooltip: "\e92b";
$icon-img-user: "\e92c";
$icon-img-was: "\e92d";
$icon-img-xbutton: "\e92e";
$icon-ing-backarrow: "\e92f";
$icon-os2-path1: "\e91c";
$icon-os2-path2: "\e91d";
$icon-os2-path3: "\e91e";
$icon-os2-path4: "\e91f";
$icon-os2-path5: "\e920";
$icon-mandriva-path1: "\e917";
$icon-mandriva-path2: "\e918";
$icon-mandriva-path3: "\e919";
$icon-mandriva-path4: "\e91a";
$icon-mandriva-path5: "\e91b";
$icon-fedora-path1: "\e911";
$icon-fedora-path2: "\e912";
$icon-fedora-path3: "\e913";
$icon-fedora-path4: "\e914";
$icon-fedora-path5: "\e915";
$icon-freebsd: "\e916";

